<!DOCTYPE HTML>
<html>
<head>
<title>Admin</title>
</head>


<style>
	body{
		background: url('https://images.unsplash.com/photo-1599239663833-4c1cdc22892a?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8YmFja2dyb3VuZCUyMHBsYWluJTIwdGVhbHxlbnwwfDB8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60');
		background-position: center;
		background-size: cover;
		font-family: cursive;
		font-size: large;
		color: aliceblue;
	}
</style>

<body>
<h2>Add items</h2>
<form action="/addItem" method="POST" enctype="multipart/form-data">
	Name: <input type="text" name="name"><br>
	Price: <input type="text" name="price"><br>
	Description: <textarea name="description" rows=3 cols="40"></textarea><br>
	Image: <input type="file" name="image"><br>
	Stock: <input type="text" name="stock"><br>
	Category: <select name="category">
		{% for row in categories %}
			<option value="{{row[0]}}">{{row[1]}}</option>
		{% endfor %}
	</select><br>
	<input type="submit">
</form>
</body>
</html>

