
<html>
<head>
<title>Change Password</title>
<script src={{ url_for('static', filename='js/changePassword.js') }}></script>
</head>



<style>
	body{
		background: url('https://images.unsplash.com/photo-1599239663833-4c1cdc22892a?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8YmFja2dyb3VuZCUyMHBsYWluJTIwdGVhbHxlbnwwfDB8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60');
		background-position: center;
		background-size: cover;
	}
</style>


<body>
<h1>Change password</h1>
<p>{{ msg }}</p>
<form action={{ url_for('changePassword') }} method="POST" onsubmit="return validate()">
	<p>Old Password: <input type="password" name="oldpassword"></p>
	<p>New Password: <input type="password" name="newpassword" id="newpassword"></p>
	<p>Confirm Password: <input type="password" name="cpassword" id="cpassword"></p>
	<input type="submit" value="Save">
</form>
<a href="{{ url_for('profileHome') }}">Go to Profile</a>
</body>
</html>


