#logo {
	height: 40px;
	width: 50px;
	margin-left: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 20px;
	float: left;
}

#title {
	background-color:rgba(180, 180, 180, 0.5);
	display: inline-block;
	width: 100%;
}

#searchBox {
	background-color: beige;
	height: 20px;
	width: 800px;
	margin-left: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: 20px;
	float: left;
	font-size: 1.5em;
}

#searchButton {
	height: 25px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: 20px;
	float: left;
}

.dropbtn {
	background-color: rgba(252, 140, 11, 0.932);
	color: white;
	padding: 16px;
	font-size: 15px;
	border: none;
	cursor: pointer;
}

.dropdown {
	position: relative;
	float: left;
}

.dropdown-content  {
	display: none;
	position: absolute;
	background-color: coral;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(252, 140, 11, 0.932);
}

.dropdown-content a {
	font-size: 14px;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {background-color: coral;}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: rgba(252, 140, 11, 0.932);
}

#signInButton {
	color: white;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
	margin-right: 20px;
	float: left;

}
#kart {
	color: white;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
	margin-right: 20px;
	float: left;
}

#cartIcon {
	height: 30px;
	width: 30px;
}

